<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Calculator</title>
    </h:head>
    <h:body style="padding: 60px;">
        <b:navBar brand="Calculator" brandHref="#" fixed="top" inverse="true"></b:navBar>
        <b:container>
            <b:jumbotron>
                <h1>A simple calculator</h1>
                <p>enter some number and choose a operation.</p>
            </b:jumbotron>
            <b:form inline="true" id="calcform" >
	            <b:inputText placeholder="a number" value="#{index.a}" required="true" label="Number A" render-label="false" mask="numeric" id="a" />
	            <b:inputText placeholder="another number" value="#{index.b}" required="true" label="Number B" render-label="false" mask="numeric" id="b" />
	            
	            <c:forEach var="operationType" items="#{index.operationTypes}" >
            		<b:radiobutton value="#{index.operationType}" item-value="#{operationType}" item-label="#{operationType}" />
				</c:forEach>
	            <b:commandButton look="primary" action="#{index.calculate}" value="Calculate" update="@form" />
	            <b:commandButton look="primary" actionListener="#{index.showStatistics}" value="Statistic" update="statisticGrowl" />
	            <h:outputText id="result" value="#{index.result}" styleClass="lead" style="margin-left: 15px" />
				<b:messages id="messages" />
				<b:growl id="statisticGrowl" globalOnly="true" showDetail="false" severity="info"/>
            </b:form>
        </b:container>
    </h:body>
</html>